.blu_box--video {
  margin-left: 5px;
}

.video-img {
  width: 512px;
  height: 278px;
}

.fr-view table {
  width: 100%
}

/* Ads must be over sidebar */
.side-bar-full-height {
  height: 100%;
}

.celtra-ad-host {
  z-index: 2
}

/* No margin top for event secion */
#event {
  margin-top: -20px;
}

/* Return to top icon */
#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top span {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* Fixed bulled point */
.content ul li {
  list-style: disc;
}

.content ul li ul li {
  list-style: circle;
}

#authorCarousel .owl-nav {
  position: absolute;
  top: -30%;
  width: 100%;
  right: 0;
  height: 100%;
}

.image-box img {
  cursor: pointer;
}

.media-modal img {
  width: 100%;
  height: 100%;
}

.media-modal-overlay {
  z-index: 999999;
}

mark {
  background-color: yellow;
  color: black;
}

#authorCarousel img {
  left: 0;
  top: 0;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  object-fit: cover;
  object-position: top center;
}

#authorCarousel .tifny5 {
  text-align: center
}

.lifestyle img {
  height: 250px !important
}

#WhatsonCarousel .owl-nav {
  display: block !important;
}

.editorpicks .red_side img {
  width: 180px !important;
}

.content-locker {
  padding: 100px;
}

.pointer {
  cursor: pointer;
}

.align-hr {
  margin-top: 8px;
}

.search-category-align-left .wrapper {
  text-align: left !important;
}

#page-wrap {
  background-color: #fff
}

.menu_section {
  margin-bottom: 20px;
}

.top-banner_sticky {
  position: -webkit-sticky;
  position: sticky;
}

.top-banner_style {
  z-index: 99;
  width: 100%;
}

.top-banner_un-pin {
  top: 0;
}

.top-banner_pin {
  top: 50px;
}

.top-banner_space+.content {
  padding-top: 70px;
}

.side-banner {
  position: sticky;
  top: 140px;
}

.side-banner_pin {
  top: 140px !important;
}

.navigation {
  margin-bottom: 20px;
}

.show-navigation {
  top: 0;
}

.facebook-icon:hover {
  color: #3c5a99;
}

.twitter-icon:hover {
  color: #40A6D6;
}

.youtube-icon:hover {
  color: #ED3833;
}

.linkedin-icon:hover {
  color: #2674B3;
}

.subscribe {
  cursor: pointer;
}

.half_bdrbox .content img {
  width: 100%;
  height: 0%;
  object-fit: contain;
}

.ame-post .blu_box {
  margin-left: 5px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.drop a {
  color: #000
}

.full-image-indent {
  padding-left: 2%;
}

.ball_box-fit {
  height: 100%;
}

.search-overlay {
  background: rgba(0, 0, 0, 0.9);
  z-index: 99999999;
}

.search-modal {
  background: transparent;
  width: 100%;
  box-shadow: none;
  margin: 0 auto;
  max-width: 950px;
}

.search-modal .search-title {
  color: white;
}

.search-modal .search-input {
  background: transparent;
  border-bottom: 1px solid #fff;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  width: 100%;
  margin: 25px 0;
  font-size: 40px;
  letter-spacing: 1px;
  padding-left: 0;
  color: #fff;
  outline: none;
}

.search-modal .search-input:focus {
  color: #fff;
  background: transparent;
  outline: none;
  box-shadow: none;
}

.search-modal .search-close {
  color: white;
  cursor: pointer;
}

.search-loading {
  text-align: center;
}

.search-load-more {
  border: 1px solid #fff;
  border-radius: 4px;
  display: inline-block;
  font: 11px/60px 'Helvetica', Arial, Tahoma, Verdana, sans-serif;
  font-weight: 700;
  letter-spacing: .05em;
  margin: 30px auto 0;
  padding: 0 40px;
  text-align: center;
  text-transform: uppercase;
  transition: all .3s;
  min-width: 170px;
  cursor: pointer;
  color: #fff;
}

.search-load-more:active,
.search-load-more:focus,
.search-load-more:hover {
  color: #333;
  background: #e9eaed;
}

.top-25 {
  margin-top: 25%;
}

.top-banner-sticky .sticky-inner-wrapper {
  background-color: white;
}

.banner-pinned {
  padding-top: 53px;
}

.media-modal {
  padding: 0.7rem;
}

.media-modal-close-button {
  border: none;
  padding: 0;
  display: flex;
  color: #fff;
  border-radius: 20px;
  background-color: black;
  position: absolute;
  top: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 1103;
}

.wrapper {
  font-family: Georgia, Times, Times New Roman, serif;
  line-height: 1.25em;
}

.content {
  position: relative;
}

.content-text {
  padding-top: 60px;
  text-align: left;
}

.error-txt {
  display: none;
}

.text1 {
  font-size: 24px;
  font-style: italic;
  color: #484848;
}

.text2 {
  font-size: 30px;
  font-weight: 700;
  color: #484848;
  padding: 15px 0;
}

.text3 {
  line-height: 20px;
  color: #000;
}

.text4 {
  font-size: 24px;
  color: #484848;
  font-weight: bold;
}

.header-search #header_search_form {
  display: block;
  position: relative;
  right: 0;
}

.header-search #header_search_form input[type="text"] {
  width: 230px;
  height: 43px;
  font-size: 16px;
  font-style: italic;
}

h3 {
  font-style: italic;
  font-weight: bolder;
  font-size: 24px;
  font-family: Georgia, Times, Times New Roman, serif;
}

.header-search #search_toggle_label_a {
  background: #FF0033;
  color: grey !important;
  cursor: pointer;
  padding: 8.8px;
  position: absolute;
}

.latest {
  font-size: 18px;
  padding: 10px 0;
  color: #484848;
}

.bg-image {
  position: absolute;
  pointer-events: none;
}

.white-bg {
  background: #FFF;
  padding-top: 20px;
}

.fa-searchbutton {
  margin: 3.5em;
}

.input-group-text {
  font-family: Georgia, Times, Times New Roman, serif;
  background: deepskyblue none repeat scroll 0 0;
  cursor: pointer;
  color: black;
}

.header-search #header_search_form input[type="text"] {
  border: 1px solid lightgrey;
}

@media (min-width: 320px) and (max-width: 767px) {
  .error-txt {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .error-txt {
    display: block;
  }
}
